@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/*cores
#010FE6
#1F2ABB
#303791
#333666
#28293C
#2B2B33
*/

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #050a30;
    height: 150px;
}

header h1{
    font: bolder normal 2.5em Arial;
    color: white;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

nav {
    font: normal normal 1.5em Arial;
    display: flex;    
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #1F31BB;
    text-decoration: underline;
    color: white;
    padding: 15px;
    border-radius: 50px;
    transition: 0.5s;
}

.introducao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.introducao img{
    width: 400px;
    height: 400px;
    margin: 20px;
}

.textointroducao{
    max-width: 700px;   
}

.textointroducao h1{
    text-align: center;
    padding: 10px;
}

.textointroducao p{
    text-align: justify;
    padding: 10px;
    text-indent: 10px;
    margin: 5px;
}

.continuacao{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 1140px;
}

.continuacao h1{
    text-align: center;
    padding: 10px;
}

.continuacao h2{
    text-align: center;
    padding: 10px;
}

.continuacao p{
    text-indent: 10px;
    text-align: justify;
    padding: 10px;
    margin: 5px;
}
